<html ng-app="LooperApp">
<head>
	<script type="text/javascript">
		window.g_user = {
			id: <%- JSON.stringify(userid) %>,
			username: <%- JSON.stringify(username) %>,
			avatar: <%- JSON.stringify(useravatar) %>,
		};
		window.g_view = {
			id: <%- JSON.stringify(docid) %>,
			version: <%- JSON.stringify(docver) %>,
			owner: <%- JSON.stringify(docowner) %>,
			data: <%- JSON.stringify(docdata) %>,
		};
	</script>
	<link rel="stylesheet" href="/dist/app.css" />
	<script type="text/javascript" src="/dist/app.js"></script>
</head>
<body ng-controller="MainCtrl">
	<header>
		<h1>
			<a href="/" class="appname">Audiolooper</a>
			<span ng-hide="docid != ''">New document</span>
			<span ng-show="docid != ''"><span ng-bind="docid">?</span> <a href="/{{docid}}/versions">version <span ng-bind="docver">?</span></a> by <a href="/user/{{docowner}}" ng-bind="docowner">?</a></span>
		</h1>
		<div class="actions">
			<button id="play" ng-click="playpause()" ng-if="editormodel.playing == false">PLAY</button>
			<button id="pause" ng-click="playpause()" ng-if="editormodel.playing == true">PAUSE</button>
			&nbsp;
			<input type="text" size="4" ng-model="editormodel.bpm" ng-change="changebpm()"></input>
			&nbsp;
			&nbsp;
			<button id="fork" ng-click="forkdoc()">FORK THIS</button>
			<button id="save" ng-click="savedoc()">S∆VE</button>
			<button id="new" ng-click="newdoc()">NEW</button>
		</div>
		<div class="currentuser" ng-controller="LoginStatusCtrl">
			<div ng-if="currentuserid == ''">
				<button id="login" ng-click="login()">SIGN IN</button>
			</div>
			<div ng-if="currentuserid != ''">
				<img ng-src="currentuseravatar" align="absbottom" width="20" height="20" />
				<a href="/user/{{currentuserid}}" id="username" ng-bind="currentusername"></a>
				&nbsp;
				<a ng-click="logout()">Sign out</a>
			</div>
		</div>
	</header>

	<section class="tracks">
		<audiotrack ng-repeat="t in editormodel.tracks track by t.id" track="t" index="t.id" editormodel="editormodel"></audiotrack>
		<div class="trackadd">
			<div class="inner">
				<a ng-click="addtrack()">
					<span>ADD TRACK +</span>
				</a>
			</div>
		</div>
	</section>

	<p>{{editormodel}}</p>

	<section class="debug">
		<textarea id="doc" ng-model="doc" cols="100" rows="15"></textarea>
	</section>

</body>
</html>