<html ng-app="LooperApp">
<head>
	<script type="text/javascript">
		window.g_user = {
			id: <%- JSON.stringify(userid) %>,
			username: <%- JSON.stringify(username) %>,
			avatar: <%- JSON.stringify(useravatar) %>,
		};
		window.g_view = {
			id: <%- JSON.stringify(id) %>,
			docs: <%- JSON.stringify(docs) %>,
			user: <%- JSON.stringify(user) %>,
		};
	</script>
	<link rel="stylesheet" href="/dist/app.css" />
	<script type="text/javascript" src="/dist/app.js"></script>
</head>
<body ng-controller="UserCtrl">
	<header>
		<h1>
			<a href="/" class="appname">Audiolooper</a>
			User <span ng-bind="user.name">?</span>
		</h1>
		<div class="currentuser" ng-controller="LoginStatusCtrl">
			<div ng-if="currentuserid == ''">
				<button id="login" ng-click="login()">SIGN IN</button>
			</div>
			<div ng-if="currentuserid != ''">
				<img ng-src="currentuseravatar" align="absbottom" width="20" height="20" />
				<a href="/user/{{currentuserid}}" id="username" ng-bind="currentusername"></a>
				&nbsp;
				<a ng-click="logout()">Sign out</a>
			</div>
		</div>
	</header>
	<section class="main">
		<ul>
			<li ng-repeat="d in docs">
				<a href="/{{d.id}}">
					document {{ d.id }}
				</a>
			</li>
		</ul>
	</section>

</body>
</html>